version: "3.9"

services:
  backend:
    container_name: garden-backend
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
    command: npm run dev
